* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(65, 132, 155), rgb(238, 164, 27));
}

#calculator-grid {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: minmax(120px, auto) repeat(6, 80px);
}

.span-two {
    grid-column: span 2;
}

#calculator-grid>button {
    font-size: 1.5em;
    font-weight: normal;
    cursor: pointer;
    border: 1px rgb(99, 177, 99) solid;
    background-color: rgb(188, 231, 180);
    outline: none;
}

#calculator-grid>button:hover {
    background-color: rgb(228, 183, 100);
}

#output {
    grid-column: 1/-1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-break: break-all;
}

#previous-operand {
    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.8);
}

#current-operand {
    font-size: 2.5em;
    color: white;
}